<?xml version="1.0"?>
<config>
    <modules>
        <Snenko_ProductDescriptionTranslater>
            <version>0.1.0</version>
        </Snenko_ProductDescriptionTranslater>
    </modules>
    <global>
        <models>
            <prodestransl>
                <class>Snenko_ProductDescriptionTranslater_Model</class>
            </prodestransl>
        </models>
        <blocks>
            <prodestransl>
                <class>Snenko_ProductDescriptionTranslater_Block</class>
            </prodestransl>
        </blocks>
        <helpers>
            <prodestransl>
                <class>Snenko_ProductDescriptionTranslater_Helper</class>
            </prodestransl>
        </helpers>
        <translate>
            <modules>
                <Snenko_ProductDescriptionTranslater>
                    <files>
                        <default>Snenko_ProductDescriptionTranslater.csv</default>
                    </files>
                </Snenko_ProductDescriptionTranslater>
            </modules>
        </translate>
    </global>
    <admin>
        <routers>
            <prodestransl>
                <use>admin</use>
                <args>
                    <module>Snenko_ProductDescriptionTranslater</module>
                    <frontName>prodestransl</frontName>
                </args>
            </prodestransl>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <prodestransl>
                    <file>prodestransl.xml</file>
                </prodestransl>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <prodestransl_core_block_abstract_prepare_layout_before>
                        <class>prodestransl/observer</class>
                        <method>addMassAction</method>
                    </prodestransl_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <add_button_test>
                        <class>prodestransl/observer</class>
                        <method>addButtonTest</method>
                    </add_button_test>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <default>
        <prodestransl>
            <export>
                <enabled>0</enabled>
                <catalog>var/prodestransl/export</catalog>
                <row_count>1000</row_count>
                <!--<stores translate="label"></stores>-->
                <visibility>4</visibility>
                <ignore_out_of_stock>1</ignore_out_of_stock>
                <use_sku>1</use_sku>
                <fields>name,description</fields>
            </export>
            <import>
                <enabled>0</enabled>
                <catalog>var/prodestransl/import</catalog>
                <catalog_imported>var/prodestransl/imported</catalog_imported>
            </import>
        </prodestransl>
    </default>
</config>